<p class="filter-options">Filter options!</p>


<div class="panel panel-default">
    <div class="panel-heading">
        <strong ng-click="tagList.showTags()">Tags</strong>
    </div>

    <!-- <div class="panel-body">
        <div class="btn-group-vertical tag-labels">
            <label ng-repeat="tag in tagList.TagService[tagList.type].tags" class="btn btn-default ng-scope"
                ng-class="{'disabled':tagList.state()}">
                <input type="checkbox" class="pull-left ng-pristine ng-untouched ng-valid"
                    ng-model="tagList.TagService[tagList.type].selected[tag.name]"
                    ng-change="tagList.TagService.onChangeTags()">
                <div class="pull-right badge ng-binding">2</div>
                <div class="tag-name ng-binding">Wheel spin</div>
            </label>
            <label ng-repeat="tag in tagList.TagService[tagList.type].tags" class="btn btn-default ng-scope"
                ng-class="{'disabled':tagList.state()}">
                <input type="checkbox" class="pull-left ng-pristine ng-untouched ng-valid"
                    ng-model="tagList.TagService[tagList.type].selected[tag.name]"
                    ng-change="tagList.TagService.onChangeTags()">
                <div class="pull-right badge ng-binding">1</div>
                <div class="tag-name ng-binding">Acquisition campaign</div>
            </label>
        </div>
    </div> -->
</div>