<div *ngIf="error" class="message-display alert alert-danger text-center mb-0">
  {{ error }}
</div>
<div *ngIf="message" class="message-display alert alert-success text-center mb-0">
  {{ message }}
</div>

<div class="reset-container">
  <div class="reset-box">
    <img src="./assets/images/ofc-logo.png" class="logo">
    <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
      <!--/////////////// New Password -->
      <div class="mb-3">
        <input type="password" id="password" formControlName="password" class="form-control" 
          placeholder="Enter New Password" [ngClass]="{ 'is-invalid': password?.invalid && password?.touched }" />
        <div *ngIf="passwordCtrl && passwordCtrl.touched && passwordCtrl.errors" class="text-danger small">
          {{ getPasswordErrorMessage(passwordCtrl) }}
        </div>
      </div>

      <!-- /////////////////// Confirm Password -->
      <div class="mb-3">
        <input type="password" id="confirmPassword" formControlName="confirmPassword" class="form-control"
          placeholder="Confirm Password"
          [ngClass]="{ 'is-invalid': confirmPassword?.invalid && confirmPassword?.touched }" />
        <div *ngIf="confirmPasswordCtrl?.touched && resetPasswordForm?.errors?.['passwordMismatch']" class="text-danger small">
          {{ getPasswordMatchErrorMessage() }}
        </div>
      </div>
      <button class="btn btn-primary w-100" type="submit" [disabled]="resetPasswordForm.invalid">
        Reset Password
      </button>
    </form>
  </div>

  <div class="footer-text">
    &copy; 2015 - 2025 OfferCraft, Patent-Pending
  </div>
</div>