/* Full-page background */

.forgot-img{
  width:175px;
  padding-bottom: 10px;
}

/* Form container */
.forgot-container {
  height: 100vh;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  // background: linear-gradient(to top, #e0f2f1 40%, #b3e5fc 90%);
  // background-image: url('/assets/wood-floor.jpg'); // Optional wooden floor image
  background: url("/assets/images/ofc-bg.jpg") 50%/cover no-repeat;
  padding-top: 120px;
}

.forgot-box {
  padding: 2rem;
  border-radius: 8px;
  text-align: center;
  width: 100%;            /* 👈 added */
  max-width: 350px;       /* 👈 responsive max */
  // box-shadow: 0 0 12px rgba(0, 0, 0, 0.15);
}


.full-width {
  width: 100%;
  margin-bottom: 1rem;
}

.error-message {
  color: red;
  font-size: 13px;
  // margin-top: 0px;    // Pull message closer if there's too much gap
  margin-bottom: 10px;  // Space before next input
  padding-left: 2px;    // Optional: aligns nicely under input
}

.message-display{
  position: absolute; width: 100%;
  font-size: 14px;
}
