.footer {
  // background-color: #2f3e46;
  color: white;
  padding: 10px 20px;
  text-align: center;
  margin-top: 30px;
}

.footer-content a {
  color: #a8dadc;
  text-decoration: none;
  margin: 0 5px;
}
