<!-- <div class="forgot-page"> -->

<div *ngIf="error" class="message-display alert alert-danger text-center mb-0">
  {{ error }}
</div>

<div *ngIf="message" class="message-display alert alert-success text-center mb-0">
  {{ message }}
</div>

<div class="forgot-container">
  <div class="forgot-box">
    <h3>
      <img src="./assets/images/ofc-logo.png" class="forgot-img">
    </h3>

    <!-- <h3>Forgot Password</h3> -->
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="mb-3">
        <input type="email" id="email" class="form-control" formControlName="email" placeholder="Email Address"
          [ngClass]="{ 'is-invalid': email?.invalid && email?.touched }" />
        <div class="error-message" *ngIf="email?.invalid && email?.touched">
          <div *ngIf="email?.errors?.['required']">Email is required.</div>
          <div *ngIf="email?.errors?.['email']">Invalid email format.</div>
        </div>
      </div>

      <button class="btn btn-primary w-100" type="submit" [disabled]="form.invalid">
        Reset Password
      </button>
    </form>
  </div>
</div>
<!-- </div> -->