<!-- <div class="forgot-page"> -->
<div class="forgot-container">

  <div class="forgot-box">
    <h3>
      <img src="./assets/images/ofc-logo.png" class="forgot-img">
    </h3>

    <!-- <h3>Forgot Password</h3> -->
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="mb-3">
        <input
          type="email"
          id="email"
          class="form-control"
          formControlName="email"
          placeholder="Enter Email"
          [ngClass]="{ 'is-invalid': email?.invalid && email?.touched }"
        />
        <div class="invalid-feedback" *ngIf="email?.invalid && email?.touched">
          <div *ngIf="email?.errors?.['required']">Email is required.</div>
          <div *ngIf="email?.errors?.['email']">Invalid email format.</div>
        </div>
      </div>

      <button class="btn btn-primary" type="submit" [disabled]="form.invalid">
        Reset Password
      </button>

    </form>
    <p *ngIf="message" style="color:green;">{{ message }}</p>
    <p *ngIf="error" style="color:red;">{{ error }}</p>

  </div>
</div>
<!-- </div> -->