<!-- Main Card -->
<div class="container mt-4">
  <div class="card">
    <div class="card-header d-flex justify-content-between align-items-center">
      <h5>Users</h5>

      <div class="d-flex align-items-center gap-2">
        <!-- List Options -->
        <div class="dropdown me-2">
          <button class="btn btn-outline-secondary dropdown-toggle" data-bs-toggle="dropdown">List Options</button>
          <ul class="dropdown-menu dropdown-menu-end">
            <li><a class="dropdown-item" href="#">Last Name</a></li>
            <li><a class="dropdown-item" href="#">First Name</a></li>
            <li><a class="dropdown-item" href="#">Login</a></li>
            <li><a class="dropdown-item" href="#">Role</a></li>
          </ul>
        </div>

        <!-- Search -->
        <input type="text" class="form-control" placeholder="Search" [(ngModel)]="searchTerm" />

        <!-- Add Button -->
        <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#createUserModal">Add</button>
      </div>
    </div>

    <div class="card-body p-0">
      <p class="p-3">{{ filteredUsers.length }} items displayed out of {{ users.length }} total</p>

      <table class="table table-hover m-0">
        <thead class="table-light">
          <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Login</th>
            <th>Role</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of filteredUsers">
            <td>{{ user.firstName }}</td>
            <td>{{ user.lastName }}</td>
            <td>{{ user.login }}</td>
            <td>{{ user.role }}</td>
            <td>
              <button class="btn btn-sm btn-primary">Preview</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<!-- Create User Modal -->
<div class="modal fade" id="createUserModal" tabindex="-1" aria-labelledby="createUserModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">

      <div class="modal-header">
        <h5 class="modal-title">Create User</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>

      <form (ngSubmit)="createUser()">
        <div class="modal-body">
          <div class="row g-3">
            <div class="col-md-6">
              <input class="form-control" placeholder="First Name" [(ngModel)]="newUser.firstName" name="firstName" required>
            </div>
            <div class="col-md-6">
              <input class="form-control" placeholder="Last Name" [(ngModel)]="newUser.lastName" name="lastName" required>
            </div>
            <div class="col-md-6">
              <input class="form-control" placeholder="Login" [(ngModel)]="newUser.login" name="login" required>
            </div>
            <div class="col-md-6">
              <select class="form-select" [(ngModel)]="newUser.role" name="role" required>
                <option value="">Select Role</option>
                <option>Administrator</option>
                <option>System Administrator</option>
                <option>Superadmin</option>
              </select>
            </div>
            <div class="col-md-6">
              <input class="form-control" placeholder="Email" [(ngModel)]="newUser.email" name="email">
            </div>
            <div class="col-md-6">
              <select class="form-select" [(ngModel)]="newUser.twoFactor" name="twoFactor">
                <option value="None">None</option>
                <option value="SMS">SMS</option>
                <option value="App">Authenticator App</option>
              </select>
            </div>
            <div class="col-md-6">
              <input class="form-control" placeholder="PIN Code" [(ngModel)]="newUser.pin" name="pin">
            </div>
            <div class="col-md-6">
              <input class="form-control" placeholder="Password" type="password" [(ngModel)]="newUser.password" name="password">
            </div>
            <div class="col-md-6">
              <input class="form-control" placeholder="Confirm Password" type="password" [(ngModel)]="newUser.confirmPassword" name="confirmPassword">
            </div>
            <div class="col-12">
              <div class="form-check" *ngFor="let option of permissionOptions">
                <input class="form-check-input" type="checkbox" [(ngModel)]="newUser[option.model]" name="{{ option.model }}">
                <label class="form-check-label">{{ option.label }}</label>
              </div>
            </div>
          </div>
        </div>

        <div class="modal-footer">
          <button class="btn btn-primary" type="submit" data-bs-dismiss="modal">Create</button>
          <button class="btn btn-warning" type="button" data-bs-dismiss="modal">Cancel</button>
        </div>
      </form>
    </div>
  </div>
</div>
