<div class="container my-5" [formGroup]="profileForm">
  <div class="card">
    <div class="card-header">
      <h3>Profile</h3>
    </div>
    <div class="card-body">
      <div class="form-group row">
        <label class="col-sm-2 col-form-label">Login</label>
        <div class="col-sm-10">
          <input type="email" class="form-control" formControlName="login" [disabled]="true">
        </div>
      </div>

      <div class="form-group row">
        <label class="col-sm-2 col-form-label">First Name</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" formControlName="firstName">
        </div>
      </div>

      <div class="form-group row">
        <label class="col-sm-2 col-form-label">Last Name</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" formControlName="lastName">
        </div>
      </div>

      <div class="form-group row">
        <label class="col-sm-2 col-form-label">PIN Code</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" formControlName="pinCode">
        </div>
      </div>

      <div class="form-group row">
        <label class="col-sm-2 col-form-label">Two Factor Auth</label>
        <div class="col-sm-10">
          <select class="form-control" formControlName="twoFactorAuth">
            <option>None</option>
            <option>SMS</option>
            <option>Email</option>
          </select>
        </div>
      </div>

      <div class="form-group">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" formControlName="allowUserSearch">
          <label class="form-check-label">Allow User Search in Redemption Portal</label>
        </div>

        <div class="form-check">
          <input class="form-check-input" type="checkbox" formControlName="allowUserPrint">
          <label class="form-check-label">Allow User Print On Redemption Portal</label>
        </div>

        <div class="form-check">
          <input class="form-check-input" type="checkbox" formControlName="allowUserReprint">
          <label class="form-check-label">Allow User Reprint On Redemption Portal</label>
        </div>

        <div class="form-check">
          <input class="form-check-input" type="checkbox" formControlName="allowHelpMode">
          <label class="form-check-label">Allow Help Mode: show tips over UI elements</label>
        </div>
      </div>

      <div class="form-group">
        <button class="btn btn-primary mr-2" type="button" (click)="onEditPassword()">Edit Password</button>
        <button class="btn btn-success" (click)="onSave()">Save</button>
      </div>
    </div>
  </div>

  <!-- System Administrator Options -->
  <div class="card mt-4">
    <div class="card-header">
      <h4>System Administrator Options</h4>
    </div>
    <div class="card-body">
      <div class="form-inline">
        <label class="mr-2">Account</label>
        <select class="form-control mr-3" formControlName="account">
          <option>OfferCraft</option>
        </select>

        <div class="form-check mr-3">
          <input type="checkbox" class="form-check-input" formControlName="useSimulatedData">
          <label class="form-check-label">Use simulated data for reports</label>
        </div>

        <button type="button" class="btn btn-outline-secondary ml-auto" (click)="onCreateAccount()">
          Create New Account
        </button>
      </div>
    </div>
  </div>
</div>
